<tr>
	<td align="center" colspan="5"><h1>Current Team List</h1></td>
</tr>

<br>

<% if Team.count > 0 %>

 <% Team.all.each_with_index do |team, index| %>

<tr>
	<td class="left_label">Team <%= index+1 %>: </td>
	<td><%= team.members %></td>
</tr>
<% end %>

<% else %>
 <tr>

  <td align="center"> No teams have been made yet. Make new teams.</td>

 </tr>

<tr>
	<td height="80" align="center" colspan="2">
		<div class="green-btn one-row">
			<a href="/teams/make_teams">Make New Teams</a>
		</div>
		<div class="green-btn one-row">
			<a href="/students">Student List</a>
		</div>
	</td>
</tr>



<%= link_to 'New Team', new_team_path %>
